* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Asp-font';
  --bg: #FCFCFC;
  --bg-panel: #EBEBEB;
  --color-headings: #7289DA;
  --color-text: #333333;
}

html[data-theme='dark'] {
  --bg: #333333;
  --bg-panel: #434343;
  --color-headings: #7289DA;
  --color-text: #B5B5B5;
}

body {
  background-color: var(--bg);
  padding: 0;
  margin: 0;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 560px;
  width: 100%;
  padding-left: 160px;
  line-height: 1.1;
}

.notfound .notfound-404 {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 140px;
  height: 140px;
  background-image: url("./images/404.png");
  background-size: cover;
}

.notfound .notfound-404:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(2.4);
  transform: scale(2.4);
  border-radius: 50%;
  background-color: var(--bg-panel);
  z-index: -1;
}

.notfound h1 {
  font-size: 65px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--color-headings);
  text-transform: uppercase;
}

.notfound h2 {
  font-size: 21px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: var(--color-headings);
}

.notfound p {
  color: var(--color-text);
  font-weight: 400;
}

.notfound a {
  display: inline-block;
  font-weight: 700;
  border-radius: 40px;
  text-decoration: none;
  color: var(--color-headings);
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    width: 110px;
    height: 110px;
  }
  .notfound {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 110px;
  }
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + label {
  background: var(--color-headings);
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--bg-panel);
  color: var(--color-text);
  text-align: center;
}

.footer a {
  display: inline-block;
  font-weight: 700;
  border-radius: 40px;
  text-decoration: none;
  color: var(--color-headings);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}
/*# sourceMappingURL=style.css.map */
